{% extends 'base/_base.html' %}

{% block main_content %}
    <div class="container">
        <div class="row">
            <div class="col col-md-10 main-content">

                <div class="page-header">
                    {% block page_header %}
                        TUPAK WEB
                    {% endblock page_header %}
                </div>
                {% block content %}
                {% endblock content %}
            </div>
            {% if user.is_authenticated %}
            <div class="col col-md-2 align-self-center info-bar">
                {% block info-bar %}
                {% endblock info-bar %}
            </div>
            {% endif %}
        </div>
    </div>
{% endblock main_content %}
