<form action="{% url 'job_prior_edit' id=job_id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% include 'tupakweb/job/snippets/errors.html' %}

    {% for field in prior_form %}
        <div class="row field
                    {% if field.field.required %}required{% endif %}
                    {% if field.errors %}error{% endif %}
                    div-{{ field.name }}">

            <!-- Label -->
            <label class="col-md-2 control-label" for="{{ field.auto_id }}">
                {{ field.label }}
            </label>

            <!-- Field -->
            <div class="col-md-10">
                {{ field }}
                {{ field.errors }}
            </div>

        </div>
    {% endfor %}

{#    <input class="btn btn-primary" type="submit" value="Save and next" />#}
    {% include 'tupakweb/job/snippets/pager-with-skip.html' %}
</form>
