{% extends 'base/base.html' %}
{% load static %}
{% load template_filters %}

{% block page_header %}
    Jobs
{% endblock page_header %}

{% block additional_styles %}
    <link rel="stylesheet" href="{% static 'bilbyweb/style/styles.css' %}"/>
{% endblock additional_styles %}

{% block additional_javascript %}
    <script src="{% static 'bilbyweb/js/job_view.js' %}"></script>
{% endblock additional_javascript %}

{% block content %}
    {{ block.super }}
    <div class="job-list table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th>{% if drafts %}Creation{% else %}Submission{% endif %} Time</th>
                <th>Last Updated</th>
                {% if not drafts and not public %}<th>Status</th>{% endif %}
                {% if public %}<th>Owner</th>{% endif %}
                <th>Action(s)</th>
            </tr>
            </thead>
            <tbody>
            {% for job in jobs %}
                <tr class="text-{{ job.status | status_color }}">
                    <th scope="col" class="job-name"><a href="{% url 'job' job.id %}">{{ job.name }}</a></th>
                    <td>{% if drafts %}{{ job.creation_time }}{% else %}{{ job.submission_time }}{% endif %}</td>
                    <td>{{ job.last_updated }}</td>
                    {% if not drafts and not public %}<td>{{ job.status_display }}</td>{% endif %}
                    {% if public %}<td>{{ job.user.display_name }}</td>{% endif %}
                    {% if drafts %}
                        <td>
                            <a class="text-danger delete-job" data-toggle="modal" data-target="#deleteJob" href="{% url 'delete_job' job.id %}">Delete <i class="fas fa-trash-alt"></i></a>
                            <a class="text-primary" href="{% url 'edit_job' job.id %}">Edit <i class="fas fa-edit"></i></a>
                            <a class="text-info" href="{% url 'copy_job' job.id %}">Copy <i class="fas fa-clone"></i></a>
                        </td>
                    {% elif public %}
                        <td>
                            <a class="text-info" href="{% url 'copy_job' job.id %}">Copy <i class="fas fa-clone"></i></a>
                        </td>
                    {% else %}
                        <td>
                            {% if job.status != 'submitted' and job.status != 'queued' and job.status != 'in_progress' %}
                            <a class="text-danger delete-job" data-toggle="modal" data-target="#deleteJob" href="{% url 'delete_job' job.id %}">Delete <i class="fas fa-trash-alt"></i></a>
                            {% endif %}
                            <a class="text-info" href="{% url 'copy_job' job.id %}">Copy <i class="fas fa-clone"></i></a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal delete job -->
    <div class="modal fade" id="deleteJob" tabindex="-1" role="dialog"
         aria-labelledby="deleteJobTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteJobLongTitle">Delete Job</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>You are about to delete the job named:</p>
                    <p class="job-name"></p>
                    <p>This means that, everything related to the job and its data will
                        be deleted, and you will not be able to revert this process later. </p>
                    <p>Are you sure, you want to proceed?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Not Now</button>
                    <a class="btn btn-danger delete" href="">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <div class="pagination">

                {% if jobs.has_previous %}
                    <a class="pagination-action" href="?page=1">
                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    </a>
                    <a class="pagination-action" href="?page={{ jobs.previous_page_number }}">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </a>
                {% endif %}

                {% for num in jobs.paginator.page_range %}

                    {% if jobs.number == num %}
                        <span class="pagination-number pagination-current">{{ num }} of {{ jobs.paginator.num_pages }}</span>
                    {% elif num > jobs.number|add:'-3' and num < jobs.number|add:'3' %}
                        <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}

                {% endfor %}

                {% if jobs.has_next %}
                    <a class="pagination-action" href="?page={{ jobs.next_page_number }}">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                    <a class="pagination-action" href="?page={{ jobs.paginator.num_pages }}">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}