{% load template_filters %}
{% if drafted_job %}
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingJob">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseJob" aria-expanded="true"
                            aria-controls="collapseJob">
                        Job
                    </button>
                </h5>
            </div>

            <div id="collapseJob" class="collapse show" aria-labelledby="headingJob" data-parent="#accordion">
                <div class="card-body">
                    <div class="info-job info-heading">Name</div>
                    <div class="info-job info-content text-justify">{{ drafted_job.job.name }}</div>
                    {% if drafted_job.job.description %}
                        <div class="info-job info-heading">Description</div>
                        <div class="info-job info-content text-justify">{{ drafted_job.job.description }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if drafted_job.data %}
            <div class="card">
                <div class="card-header" id="headingData">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseData"
                                aria-expanded="true" aria-controls="collapseData">
                            Data
                        </button>
                    </h5>
                </div>
                <div id="collapseData" class="collapse" aria-labelledby="headingData" data-parent="#accordion">
                    <div class="card-body">
                        <div class="info-job info-heading">Data Type</div>
                        <div class="info-job info-content text-justify">{{ drafted_job.data.data_choice | display_name }}</div>
                        {% if drafted_job.data_parameters %}
                            {% for data_parameter in drafted_job.data_parameters %}
                                <div class="info-job info-heading">{{ data_parameter.name | display_name }}</div>
                                <div class="info-job info-content text-justify">{{ data_parameter.value | display_name }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if drafted_job.signal and drafted_job.signal.signal_choice != 'skip' %}
            <div class="card">
                <div class="card-header" id="headingSignal">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSignal"
                                aria-expanded="true" aria-controls="collapseSignal">
                            Signal
                        </button>
                    </h5>
                </div>
                <div id="collapseSignal" class="collapse" aria-labelledby="headingSignal" data-parent="#accordion">
                    <div class="card-body">
                        <div class="info-job info-heading">Signal Injection</div>
                        <div class="info-job info-content text-justify">{{ drafted_job.signal.signal_choice | display_name }}</div>
                        {% if drafted_job.signal_parameters %}
                            {% for signal_parameter in drafted_job.signal_parameters %}
                                <div class="info-job info-heading">{{ signal_parameter.name | display_name }}</div>
                                <div class="info-job info-content text-justify">{{ signal_parameter.value | display_name }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if drafted_job.priors %}
            <div class="card">
                <div class="card-header" id="headingPrior">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsePrior"
                                aria-expanded="true" aria-controls="collapsePrior">
                            Priors
                        </button>
                    </h5>
                </div>
                <div id="collapsePrior" class="collapse" aria-labelledby="headingPrior" data-parent="#accordion">
                    <div class="card-body">
                        {% for prior in drafted_job.priors %}
                            <div class="info-job info-heading">{{ prior.name | display_name }}</div>
                            <div class="info-job info-content text-justify">
                            {{ prior.prior_choice | display_name }}: {{ prior.get_display_value }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if drafted_job.sampler %}
            <div class="card">
                <div class="card-header" id="headingSampler">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSampler"
                                aria-expanded="true" aria-controls="collapseSampler">
                            Sampler
                        </button>
                    </h5>
                </div>
                <div id="collapseSampler" class="collapse" aria-labelledby="headingSampler" data-parent="#accordion">
                    <div class="card-body">
                        <div class="info-job info-heading">Sampler Type</div>
                        <div class="info-job info-content text-justify">{{ drafted_job.sampler.sampler_choice | display_name }}</div>
                        {% if drafted_job.sampler_parameters %}
                            {% for sampler_parameter in drafted_job.sampler_parameters %}
                                <div class="info-job info-heading">{{ sampler_parameter.name | display_name }}</div>
                                <div class="info-job info-content text-justify">{{ sampler_parameter.value | display_name }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% else %}
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingJob">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseJob" aria-expanded="true"
                            aria-controls="collapseJob">
                        Nothing Saved Yet
                    </button>
                </h5>
            </div>

            <div id="collapseJob" class="collapse show" aria-labelledby="headingJob" data-parent="#accordion">
                <div class="card-body">
                    <div class="info-job info-heading">Nothing has been saved yet for this job.</div>
                    <div class="info-job info-content text-justify">Please use the save buttons to create the draft.</div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
