body {
    background-color: #343a40 !important;
}

.main-content {
    background-color: #ffffff;
    padding: 10px 0 20px;
}

.page-header {
    margin: 0 0 20px;
    padding: 10px;
    font-size: xx-large;
    text-align: left;
    border-bottom: 1px dotted #cccccc;
}

.single-form-wrapper {
    max-width: 780px;

}

.field {
    margin-bottom: 10px;
}

.footer {
    padding: 10px 0;
}

.footer-text {
    color: white;
}

/*

Welcome page

*/

.jumbotron {
    /*background-image: url("../images/GW.jpg");*/
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 0px;
    /*padding-top: 15em;*/
    /*padding-bottom: 13em;*/
}

#welcome-message{
    text-align: center;
    /*color: #000000;*/
    /*font-optical-sizing: auto;*/
    /*text-shadow: 1px 1px #0e2918;*/
}

/********************************************/
/*                                          */
/*                 Forms                    */
/*                                          */
/********************************************/
.field {
    padding-bottom: 10px;
}
.field.error label {
    color: darkred;
}

.field.error input {
    border-color: darkred;
    border-radius: 4px 4px 0 0;
}

.field.error ul {
    list-style: none;
    color: darkred;
    padding: 5px 5px 5px 10px;
    border: 1px solid darkred;
    border-top-width: 0;
    border-radius: 0 0 4px 4px;
    background-color: darksalmon;
}

/* non field errors */

.non-field-error div {
    margin-top: -20px;
    border-top: 1px solid darkred;
    padding: 0 80px 10px;
}

.non-field-error ul {
    list-style: none;
    color: darkred;
    padding: 5px 5px 5px 10px;
    border: 1px solid darkred;
    border-top-width: 0;
    border-radius: 0 0 4px 4px;
    background-color: darksalmon;
}

ul.messages {
    list-style: none;
    padding: 5px 5px 5px 10px;
}

.buttons {
    padding-bottom: 10px;
}

/********************************************/
/*                                          */
/*                 form-group               */
/*                                          */
/********************************************/

.field.required .control-label:after {
   content:"*";
   color:red;
}

/********************************************/
/*                                          */
/*                 Job-Tabs                 */
/*                                          */
/********************************************/
.tab-content{
    margin-top: 20px;
}

/********************************************/
/*                                          */
/*               errorlist                  */
/*                                          */
/********************************************/
.errorlist {
  list-style-type: none;
}

/********************************************/
/*                                          */
/*                 Pager                    */
/*                                          */
/********************************************/
.row .pager .previous, .container-fluid .pager .previous{
    float: left;
    margin-left: 15px;
}

.row .pager .next, .container-fluid .pager .next{
    float: right;
    margin-right: 15px;
}

/********************************************/
/*                                          */
/*                 Forms                    */
/*                                          */
/********************************************/
.field {
    padding-bottom: 10px;
}
.field.error label {
    color: darkred;
}

.field.error input {
    border-color: darkred;
    border-radius: 4px 4px 0 0;
}

.field.error ul {
    list-style: none;
    color: darkred;
    padding: 5px 5px 5px 10px;
    border: 1px solid darkred;
    border-top-width: 0;
    border-radius: 0 0 4px 4px;
    background-color: darksalmon;
}

/* non field errors */

.non-field-error div {
    margin-top: -20px;
    border-top: 1px solid darkred;
    padding: 0 80px 10px;
}

.non-field-error ul {
    list-style: none;
    color: darkred;
    padding: 5px 5px 5px 10px;
    border: 1px solid darkred;
    border-top-width: 0;
    border-radius: 0 0 4px 4px;
    background-color: darksalmon;
}


.div-mode-params {
    margin-bottom: 2px;
}


/********************************************/
/*                                          */
/*        Job chevrons Breadcrumbs          */
/*                                          */
/********************************************/
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.breadcrumbs ul {
  list-style: none;
}

.cf:before, .cf:after {
  content: ' ';
  display: table;
}
.cf:after {
  clear: both;
}

.inner {
  margin: 0 auto;
}

.breadcrumbs {
  background-color: #ffffff;
}

.breadcrumbs li {
  float: left;
  width: 16.6%;
}

.breadcrumbs li.disabled {
    pointer-events:none;
    opacity:0.6;
}

.breadcrumbs li a {
  position: relative;
  display: block;
  padding: 12px;
  padding-right: 0px !important;
  /* important overrides media queries */
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  color: #aaa;
  cursor: pointer;
  text-decoration: none;
}

.breadcrumbs li a:hover {
  background: #eee;
}

.breadcrumbs li.active a {
  color: #777;
  background-color: #ffffff;
}

.breadcrumbs li.active a:hover {
  color: #777;
  background-color: #ffffff;
}

.breadcrumbs li a span:first-child {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: auto;
  border: 2px solid #aaa;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
}

.breadcrumbs li.active a span:first-child {
  color: #fff;
  border-color: #777;
  background-color: #777;
}

.breadcrumbs li a span:nth-child(2) {
  display: block;
  text-align: center;
}

.breadcrumbs li a:before,
.breadcrumbs li a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1;
  display: block;
  width: 0;
  height: 0;
  border-top: 32px solid transparent;
  border-bottom: 32px solid transparent;
  border-left: 16px solid transparent;
}

.breadcrumbs li a:before {
  margin-left: 1px;
  border-left-color: #a9a9a9;
}

.breadcrumbs li a:after {
  border-left-color: #ffffff;
}

.breadcrumbs li a:hover:after {
  border-left-color: #eee;
}

.breadcrumbs li a.active:after {
  border-left-color: #ffffff;
}

.breadcrumbs li.active a:after {
  border-left-color: #ffffff;
}

.breadcrumbs li:last-child a:before,
.breadcrumbs li:last-child a:after {
  display: none;
}

@media (max-width: 720px) {
  .breadcrumbs li a {
    padding: 15px;
  }

  .breadcrumbs li a:before,
  .breadcrumbs li a:after {
    border-top-width: 26px;
    border-bottom-width: 26px;
    border-left-width: 13px;
  }
}
@media (max-width: 620px) {
  .breadcrumbs li a {
    padding: 10px;
    font-size: 12px;
  }

  .breadcrumbs li a:before,
  .breadcrumbs li a:after {
    border-top-width: 22px;
    border-bottom-width: 22px;
    border-left-width: 11px;
  }
}
@media (max-width: 520px) {
  .breadcrumbs a {
    padding: 5px;
  }

  .breadcrumbs li a:before,
  .breadcrumbs li a:after {
    border-top-width: 22px;
    border-bottom-width: 22px;
    border-left-width: 11px;
  }

  .breadcrumbs li a span:first-child {
    display: block;
    margin: 0 auto;
  }

  .breadcrumbs li a span:last-child {
    display: none;
  }
}