{% extends 'base/base.html' %}

{% block info-bar %}
{% endblock info-bar %}

{% block page_header %}
    New Job
{% endblock page_header %}

{% block content %}
    {% include 'tupakweb/job/snippets/job-tabs.html' %}
    <div class="tab-content" id="job-tabs">

        <!-- START -->
        <div id="start" class="tab-pane container {% if active_tab == 'start' %}active{% else %}fade{% endif %}">
            {% include 'tupakweb/job/form-snippets/new_job_form.html' %}
        </div>
    </div>
{% endblock content %}
