{% if drafted_job %}
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingJob">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseJob" aria-expanded="true"
                            aria-controls="collapseOne">
                        Job
                    </button>
                </h5>
            </div>

            <div id="collapseJob" class="collapse show" aria-labelledby="headingJob" data-parent="#accordion">
                <div class="card-body">
                    <p>Name: {{ drafted_job.job.name }}</p>
                    <p>Description: {{ drafted_job.job.description }}</p>
                </div>
            </div>
        </div>
        {% if drafted_job.data %}
            <div class="card">
                <div class="card-header" id="headingData">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseData"
                                aria-expanded="true" aria-controls="collapseTwo">
                            Data
                        </button>
                    </h5>
                </div>
                <div id="collapseData" class="collapse" aria-labelledby="headingData" data-parent="#accordion">
                    <div class="card-body">
                        <p>Type: {{ drafted_job.data.data_choice }}</p>
                        {% if drafted_job.data_simulated %}
                            <p>Detector choice: {{ drafted_job.data_simulated.detector_choice }}</p>
                            <p>Signal duration(s): {{ drafted_job.data_simulated.signal_duration }}</p>
                            <p>Sampling frequency(Hz): {{ drafted_job.data_simulated.sample_frequency }}</p>
                            <p>Start time: {{ drafted_job.data_simulated.start_time }}</p>
                        {% endif %}
                        {% if drafted_job.data_open %}
                            <p>Detector choice: {{ drafted_job.data_open.detector_choice }}</p>
                            <p>Signal duration(s): {{ drafted_job.data_open.signal_duration }}</p>
                            <p>Sampling frequency(Hz): {{ drafted_job.data_open.sample_frequency }}</p>
                            <p>Start time: {{ drafted_job.data_open.start_time }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% else %}
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingJob">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseJob" aria-expanded="true"
                            aria-controls="collapseOne">
                        Nothing Saved Yet
                    </button>
                </h5>
            </div>

            <div id="collapseJob" class="collapse show" aria-labelledby="headingJob" data-parent="#accordion">
                <div class="card-body">
                    Nothing has been saved yet for this job. Please use the save buttons to create the draft.
                </div>
            </div>
        </div>
    </div>
{% endif %}
