{% extends 'base/base.html' %}
{% load template_filters %}
{% load static %}

{% block additional_styles %}
    <link rel="stylesheet" href="{% static 'tupakweb/style/job-view.css' %}"/>
{% endblock additional_styles %}

{% block page_header %}
    <span>Job :: {{ tupak_job.job.name }}</span>
    <span class="job-status">
        {% with tupak_job.job.status as status %}
            {% if status == 'draft' %}
                <span class="badge badge-secondary">DRAFT</span>
            {% elif status == 'submitted' %}
                <span class="badge badge-primary">SUBMITTED</span>
            {% elif status == 'queued' %}
                <span class="badge badge-primary">QUEUED</span>
            {% elif status == 'in-progress' %}
                <span class="badge badge-primary">IN-PROGRESS</span>
            {% elif status == 'completed' %}
                <span class="badge badge-success">COMPLETED</span><span class="badge badge-info">PRIVATE</span>
            {% elif status == 'error' %}
                <span class="badge badge-danger">ERROR</span>
            {% elif status == 'saved' %}
                <span class="badge badge-dark">SAVED</span>
            {% elif status == 'wall_time_exceeded' %}
                <span class="badge badge-warning">WALL TIME EXCEEDED</span>
            {% elif status == 'deleted' %}
                <span class="badge badge-light">DELETED</span>
            {% elif status == 'public' %}
                <span class="badge badge-success">COMPLETED</span><span class="badge badge-info">PUBLIC</span>
            {% endif %}
        {% endwith %}
    </span>
{% endblock page_header %}

{% block content %}
    {{ block.super }}
    {% if tupak_job.job_actions %}
        <div class="job-view-section">
            <div class="body actions">
                <ul class="list-inline">
                    {% if 'copy' in tupak_job.job_actions %}
                        <li class="list-inline-item"><a class="btn btn-primary"
                                                        href="{% url 'copy_job' tupak_job.job.id %}">COPY <i
                                class="fas fa-clone"></i></a></li>
                    {% endif %}
                    {% if 'edit' in tupak_job.job_actions %}
                        <li class="list-inline-item"><a class="btn btn-primary"
                                                        href="{% url 'edit_job' tupak_job.job.id %}">EDIT <i
                                class="fas fa-edit"></i></a></li>
                    {% endif %}
                    {% if 'make_it_public' in tupak_job.job_actions %}
                        <li class="list-inline-item"><a class="btn btn-success" data-toggle="modal"
                                                        data-target="#makeItPublic">MAKE IT PUBLIC <i
                                class="fas fa-globe-asia"></i></a></li>
                    {% endif %}
                    {% if 'make_it_private' in tupak_job.job_actions %}
                        <li class="list-inline-item"><a class="btn btn-info" data-toggle="modal"
                                                        data-target="#makeItPrivate">MAKE IT PRIVATE <i
                                class="fas fa-user"></i></a></li>
                    {% endif %}
                    {% if 'delete' in tupak_job.job_actions %}
                        <li class="list-inline-item"><a class="btn btn-danger" data-toggle="modal"
                                                        data-target="#deleteJob">DELETE <i class="fas fa-trash-alt"></i></a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>

        {% if 'make_it_public' in tupak_job.job_actions %}
            <!-- Modal Make it public-->
            <div class="modal fade" id="makeItPublic" tabindex="-1" role="dialog"
                 aria-labelledby="makeItPublicTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="makeItPublicLongTitle">Make Job Public</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>You are about to make the job public. This means that, any user can view, clone
                                the job and will be able to download the output files.</p>
                            <p>However, they will NOT be able to delete the job information, as it will be read-only to
                                them.</p>
                            <p>Are you sure, you want to proceed?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Not Now</button>
                            <a class="btn btn-success" href="{% url 'make_job_public' tupak_job.job.id %}">Make it
                                Public</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if 'make_it_private' in tupak_job.job_actions %}
            <!-- Modal Make it public-->
            <div class="modal fade" id="makeItPrivate" tabindex="-1" role="dialog"
                 aria-labelledby="makeItPrivateTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="makeItPrivateLongTitle">Make Job Private</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>You are about to make the job private. This means that, no user other than you will be
                                able to view, clone the job and will be able to download the output files.</p>
                            <p>However, if the job has been copied already, the copied job will still be available to
                                the respective user.</p>
                            <p>Are you sure, you want to proceed?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Not Now</button>
                            <a class="btn btn-info" href="{% url 'make_job_private' tupak_job.job.id %}">Make it
                                Private</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if 'delete' in tupak_job.job_actions %}
            <!-- Modal delete job -->
            <div class="modal fade" id="deleteJob" tabindex="-1" role="dialog"
                 aria-labelledby="deleteJobTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteJobLongTitle">Delete Job</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>You are about to delete the job. This means that, everything related to the job and its
                                data will be deleted, and you will not be able to revert this process later. </p>
                            <p>Are you sure, you want to proceed?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Not Now</button>
                            <a class="btn btn-danger" href="{% url 'delete_job' tupak_job.job.id %}">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

    {% endif %}

    <div class="job-view-section">
        <div class="row">
            <div class="col col-md-12">
                <div class="heading">Outputs &#38; Download Options</div>
            </div>
        </div>
        <div class="body preview">
            <ul>
                <li class="card">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Simulation Image #1</h5>
                        <p class="card-text">Output Image generated for the job.</p>
                        <a href="#" class="btn btn-primary">Download Preview</a>
                        <a href="#" class="btn btn-primary">Download Original</a>
                    </div>
                </li>
                <li class="card">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Simulation Image #2</h5>
                        <p class="card-text">Output Image generated for the job.</p>
                        <a href="#" class="btn btn-primary">Download Preview</a>
                        <a href="#" class="btn btn-primary">Download Original</a>
                    </div>
                </li>
                <li class="card">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Simulation Image #1</h5>
                        <p class="card-text">Output Image generated for the job.</p>
                        <a href="#" class="btn btn-primary">Download Preview</a>
                        <a href="#" class="btn btn-primary">Download Original</a>
                    </div>
                </li>
                <li class="card">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Simulation Image #2</h5>
                        <p class="card-text">Output Image generated for the job.</p>
                        <a href="#" class="btn btn-primary">Download Preview</a>
                        <a href="#" class="btn btn-primary">Download Original</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="job-view-section">
        <div class="row">
            <div class="col col-md-12">
                <div class="heading">Job Information</div>
            </div>
        </div>
        <div class="body meta-data">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th scope="row">Owner</th>
                    <td>{{ tupak_job.job.user.display_name }}</td>
                </tr>
                {% if tupak_job.job.description %}
                    <tr>
                        <th scope="row">Description</th>
                        <td>{{ tupak_job.job.description | linebreaks }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th scope="row">Creation Time</th>
                    <td>{{ tupak_job.job.creation_time }}</td>
                </tr>
                {% if tupak_job.job.submission_time %}
                    <tr>
                        <th scope="row">Submission Time</th>
                        <td>{{ tupak_job.job.submission_time }}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>


    <div class="job-view-section">
        <div class="row">
            <div class="col col-md-12">
                <div class="heading">Input Parameters</div>
            </div>
        </div>
        <div class="body">
            <div id="accordion">
                {% if tupak_job.data %}
                    <div class="card">
                        <div class="card-header" id="headingData">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseData"
                                        aria-expanded="true" aria-controls="collapseTwo">
                                    Data
                                </button>
                            </h5>
                        </div>
                        <div id="collapseData" class="collapse" aria-labelledby="headingData"
                             data-parent="#accordion">
                            <div class="card-body">
                                <table class="table table-striped">
                                    <tbody>
                                    <tr>
                                        <th scope="row">Data Type</th>
                                        <td>{{ tupak_job.data.data_choice | display_name }}</td>
                                    </tr>
                                    {% if tupak_job.data_parameters %}
                                        {% for data_parameter in tupak_job.data_parameters %}
                                            <tr>
                                                <th scope="row">{{ data_parameter.name | display_name }}</th>
                                                <td>{{ data_parameter.value | display_name }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if tupak_job.signal and tupak_job.signal.signal_choice != 'skip' %}
                    <div class="card">
                        <div class="card-header" id="headingSignal">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseSignal"
                                        aria-expanded="true" aria-controls="collapseTwo">
                                    Signal
                                </button>
                            </h5>
                        </div>
                        <div id="collapseSignal" class="collapse" aria-labelledby="headingSignal"
                             data-parent="#accordion">
                            <div class="card-body">
                                <table class="table table-striped">
                                    <tbody>
                                    <tr>
                                        <th scope="row">Signal Injection</th>
                                        <td>{{ tupak_job.signal.signal_choice | display_name }}</td>
                                    </tr>
                                    {% if tupak_job.signal_parameters %}
                                        {% for signal_parameters in tupak_job.signal_parameters %}
                                            <tr>
                                                <th scope="row">{{ signal_parameters.name | display_name }}</th>
                                                <td>{{ signal_parameters.value | display_name }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if tupak_job.priors %}
                    <div class="card">
                        <div class="card-header" id="headingPrior">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapsePrior"
                                        aria-expanded="true" aria-controls="collapseTwo">
                                    Priors
                                </button>
                            </h5>
                        </div>
                        <div id="collapsePrior" class="collapse" aria-labelledby="headingPrior"
                             data-parent="#accordion">
                            <div class="card-body">
                                <table class="table table-striped">
                                    <tbody>
                                    {% for prior in tupak_job.priors %}
                                        <tr>
                                            <th scope="row">{{ prior.name | display_name }}</th>
                                            <td>{{ prior.prior_choice | display_name }}: {{ prior.get_display_value }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if tupak_job.sampler %}
                    <div class="card">
                        <div class="card-header" id="headingSampler">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseSampler"
                                        aria-expanded="true" aria-controls="collapseTwo">
                                    Sampler
                                </button>
                            </h5>
                        </div>
                        <div id="collapseSampler" class="collapse" aria-labelledby="headingSampler"
                             data-parent="#accordion">
                            <div class="card-body">
                                <table class="table table-striped">
                                    <tbody>
                                    <tr>
                                        <th scope="row">Sampler Type</th>
                                        <td>{{ tupak_job.sampler.sampler_choice | display_name }}</td>
                                    </tr>
                                    {% if tupak_job.sampler_parameters %}
                                        {% for sampler_parameters in tupak_job.sampler_parameters %}
                                            <tr>
                                                <th scope="row">{{ sampler_parameters.name | display_name }}</th>
                                                <td>{{ sampler_parameters.value | display_name }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}
