{% if job_json %}
    <div class="job-summary">
        <div class="job-json">
            <label for="job_json">Job Summary (JSON)</label>
            <textarea rows="15" id="job_json" readonly>{{ job_json }}</textarea>
        </div>
        <div>
            <div class="download-options">
                Job Summary Download Options
            </div>
            <div class="download-json text-center">
                <a id="download_json"
                   download="{{ drafted_job.job.name | slugify }}_{{ drafted_job.job.user.username | slugify }}.json">
                    <div><i class="fas fa-download"></i></div>
                    <div>JSON</div>
                </a>
            </div>
        </div>
    </div>
{% endif %}

{#<fieldset id="job_details">#}
{#    <legend>Job</legend>#}
{#    {% include 'tupakweb/job/view-snippets/job_start_view.html' %}#}
{#</fieldset>#}
{##}
{#<fieldset id="data_model_details">#}
{#    <legend>Data</legend>#}
{#    {% include 'tupakweb/job/view-snippets/data_view.html' %}#}
{#</fieldset>#}
{##}
{#<fieldset id="dataset_details">#}
{#    <legend>Signal (optional)</legend>#}
{#    {% include 'tupakweb/job/view-snippets/signal_view.html' %}#}
{#</fieldset>#}
{##}
{#<fieldset id="psf_details">#}
{#    <legend>Prior (optional)</legend>#}
{#    {% include 'tupakweb/job/view-snippets/prior_view.html' %}#}
{#</fieldset>#}
{##}
{#<fieldset id="sampler_details">#}
{#    <legend>Sampler</legend>#}
{#    {% include 'tupakweb/job/view-snippets/sampler_view.html' %}#}
{#</fieldset>#}

<script>
  $("a#download_json").click(function () {
    var content = $("#job_json").text().toString()
    this.href = "data:text/plain;charset=UTF-8," + encodeURIComponent(content)
  })
</script>
