{% if field_name == 'mass_1_fixed' %}
    {% with prior_form.mass_1_fixed as field %}
        {% include 'bilbyweb/job/form-snippets/prior_fixed_render.html' %}
    {% endwith %}
{% elif field_name == 'mass_2_fixed' %}
    {% with prior_form.mass_2_fixed as field %}
        {% include 'bilbyweb/job/form-snippets/prior_fixed_render.html' %}
    {% endwith %}
{% elif field_name == 'luminosity_distance_fixed' %}
    {% with prior_form.luminosity_distance_fixed as field %}
        {% include 'bilbyweb/job/form-snippets/prior_fixed_render.html' %}
    {% endwith %}
{% elif field_name == 'iota_fixed' %}
    {% with prior_form.iota_fixed as field %}
        {% include 'bilbyweb/job/form-snippets/prior_fixed_render.html' %}
    {% endwith %}
{% elif field_name == 'psi_fixed' %}
    {% with prior_form.psi_fixed as field %}
        {% include 'bilbyweb/job/form-snippets/prior_fixed_render.html' %}
    {% endwith %}
{% elif field_name == 'phase_fixed' %}
    {% with prior_form.phase_fixed as field %}
        {% include 'bilbyweb/job/form-snippets/prior_fixed_render.html' %}
    {% endwith %}
{% elif field_name == 'merger_time_fixed' %}
    {% with prior_form.merger_time_fixed as field %}
        {% include 'bilbyweb/job/form-snippets/prior_fixed_render.html' %}
    {% endwith %}
{% elif field_name == 'ra_fixed' %}
    {% with prior_form.ra_fixed as field %}
        {% include 'bilbyweb/job/form-snippets/prior_fixed_render.html' %}
    {% endwith %}
{% elif field_name == 'dec_fixed' %}
    {% with prior_form.dec_fixed as field %}
        {% include 'bilbyweb/job/form-snippets/prior_fixed_render.html' %}
    {% endwith %}
{% endif %}
